script/user_generator.rb
.idea
/.idea/*
/script/export_fix.rb
/script/user_generator.rb


*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
*.iml
.DS_Store
.env
.rvmrc
.ruby-gemset
.ruby-version
