<div class="container">
    <div class="page-header">
        <h1>Editing manifest</h1>
    </div>
    <div class="col-sm-12 col-md-12">

        <%= render 'form' %>

        <%= link_to 'Show', @manifest %> |
        <%= link_to 'Back', manifests_path %>
    </div>
</div>
